<h2><%= @restaurant.name %></h2>
<p><strong>Category: </strong><%= @restaurant.category %></p>
<p><strong>Address: </strong><%= @restaurant.address %></p>
<p><strong>Phone Number: </strong><%= @restaurant.phone_number %></p>
<%= link_to "Add Review", new_restaurant_review_path(@restaurant) %>
<hr>
<h2>Reviews:</h2>
<% @restaurant.reviews.each do |review| %>
  <hr>
  <p><%= review.content %></p>
  <p><strong>Rating: </strong><%= review.rating %></p>
<% end %>